# Python junk
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Database (Không được up file DB lên!)
*.db
*.sqlite3
backend/instance/

# IDE settings
.idea/

# OS junk
.DS_Store
Thumbs.db

# Game Assets (Chặn upload file nặng)
fishing-game-assets/
fish/